.page-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}
.video-emotion-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 45%;
}
.emotions-container{
    display: flex;
    flex-flow: row wrap;
}
img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.emotion-box{
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 6px solid #ffffff;
    margin: 10px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.4); 
}
.live-cam{
    width: 100%;
    height: 55%;
}
.live-cam video{
    width: 448px;
    height: 448px;
    background-color: black;
}
.KNN-container{
    width: 45%;
}
.emotion-buttons {
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    flex: 1; 
}
.emotion-buttons button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px double #b9171e;
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: #d4141d;
    color: white;
    font-size: 15px;
    font-family: Roboto;
    font-weight: bold;
    margin: 0 20px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1); 
}
.emotion-buttons button:focus {
    outline: none; 
}
.emotion-input{
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.emotion-input-outer{
    padding: 10px 0px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    margin: 20px 20px;
    flex-flow: column wrap;
    display: flex;
    width: 170px;
    height: 175px; 
}
.emotion-input-inner{
    width: 100%;
    height: 100px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}
.emotion-input-inner img{
    border: 0px;
    height: 90%;
}
.custom-classifier-container{
    
    width: 45%;
}
.emotion-tuner{
    margin: 80px 0;
    display: flex;
    width: 100%;
    text-align: center;
    flex: 1; 
}
.emotion-dropdown{
    flex: 1;
    display: table;
    height: 100%; 
}
.emotion-dropdown-cell{
    vertical-align: middle;
    display: table-cell;
}
.emotion-tuner select {
    display: inline-block;
    border: 0px;
    border-bottom: 1px solid #424242;
    margin-top: 0px; 
}
.emotion-tuner label {
    display: block;
    font-size: 13px;
    font-family: "Nunito", sans-serif; 
}
.classifier-select{
    display: flex;
    justify-content: center;
}
.hidden{
    display: none;
}
.emotion-loss {
    color: #e13527;
    font-size: 15px;
    margin-bottom: 0px !important;
    margin: 0px !important;
    padding: 0px 20px !important;
    display: flex;
    position: relative;
    bottom: 25px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    justify-content: center; 
}
.highlight{
    border-color: #e88139;
    background-color: #ff9c56;

}